<body>
    <div id="view-background"></div>
    <div id="app-view">
        <main class="container">
            <div class="row">
                <div class="col-12">
                    <h1>${lang.addgame_title}</h1>
                    <p>${lang.addgame_actiontip}</p>
                    <div id="importmethods_tbox">
                        <button class="btn btn-outline-info template" id="import_action"></button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>