<body>
    <div id="view-background"></div>
    <div id="app-view">
        <main class="container">
            <div class="row">
                <div class="col-12">
                    <h1>${lang.addgameinfo_title} <span id="subtitle">sottotitolo</span></h1>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item template" id="tab_btn" role="presentation">
                            <a class="nav-link" href="#" data-toggle="tab" aria-controls="" role="tab" aria-selected="false"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane template" id="tab_panel" role="tabpanel" aria-labelledby=""></div>
                    </div>
                    <div class="toolbox">
                        <div class="btn btn-success" id="ge_save_changes">${lang.addgameinfo_confirm}</div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>