<body>
    <div class="template row game_dialog" id="game_dialog">
        <div class="col-11 col-info">
            <div class="stats"></div>
        </div>
        <div class="col-1 col-buttons">
            <span class="icon material-icons-outlined">not_started</span><br />
            <span class="icon material-icons-outlined">edit</span>
        </div>
    </div>
    <div id="view-background"></div>
    <div id="app-view">
        <main class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Gamedek</h1>
                </div>
                <div class="col-12 gamegridslider">
                    <div id="nogameinlist">
                        ${lang.nogameinlibrary_p1} <span style="font-size: 1.4rem;" title="${lang.addnewgame}" class="header-inline-icon material-icons-outlined d-inline-block mr-1 align-bottom" onclick="$('#gd-header [data-view=&quot;add&quot;]').click()">
                            add_to_queue
                        </span>
                        ${lang.nogameinlibrary_p2}
                    </div>
                    <div id="gamegrid">
                        <div class="slider">
                        </div>
                        <div class="template gameitem" id="gamelist_item" onclick="core.theme.selectGame($(this).attr('data-hash'))">
                            <div class="frame">
                                <div class="light"></div>
                                <div class="imageportrait"></div>
                                <div class="imagelandscape"></div>
                                <div class="title"></div>
                                <div class="desc"></div>
                            </div>
                        </div>
                        <div class="template gametag" id="gamelist_item_tag">
                            <span class="text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>