<body>
    <div id="gd-header">
        <span data-nav-group="header" data-nav-index="1" data-view="home" title="${lang.mylibrary}" onclick="core.theme.changeView($(this).attr('data-view'))" class="icon material-icons-outlined d-inline-block mr-1">
            home
        </span>
        <span data-nav-group="header" data-nav-index="2" data-view="add" title="${lang.addnewgame}" onclick="core.theme.changeView($(this).attr('data-view'))" class="icon material-icons-outlined d-inline-block mr-1">
            add_to_queue
        </span>
        <span data-nav-group="header" data-nav-index="3" data-view="view_list" title="${lang.viewlist}" class="icon material-icons-outlined d-inline-block mr-1" onclick="core.theme.setGridListView()">
            reorder
        </span>
        <span data-nav-group="header" data-nav-index="4" data-view="view_grid" title="${lang.viewblocks}" class="icon material-icons-outlined d-inline-block mr-1" onclick="core.theme.cycleGridBlockView()">
            dashboard
        </span>
        <span data-nav-group="header" data-nav-index="5" data-view="settings" title="${lang.settings}" onclick="core.theme.changeView($(this).attr('data-view'))" class="icon material-icons-outlined d-inline-block mr-1">
            settings
        </span>
        <span data-nav-group="header" data-nav-index="6" class="icon material-icons-outlined d-inline-block mr-1" title="${lang.quit}" onclick="core.exit()">
            power_settings_new
        </span>
        <span data-nav-group="header" data-nav-index="7" class="icon material-icons-outlined mr-1" title="${lang.goback}" id="goback" onclick="">
            double_arrow
        </span>
    </div>
</body>