<body>
    <div id="gd-header">
        <span data-view="home" onclick="core.theme.changeView($(this).attr('data-view'))" class="icon material-icons-outlined d-inline-block mr-1">
            home
        </span>
        <span data-view="settings" onclick="core.theme.changeView($(this).attr('data-view'))" class="icon material-icons-outlined d-inline-block mr-1">
            settings
        </span>
        <span class="icon material-icons-outlined d-inline-block mr-1" onclick="core.exit()">
            power_settings_new
        </span>
    </div>
</body>