<body>
    <div class="background"></div>
    <div class="general_content home_content scalable">
        <div class="titles">
            <h1>Dungeons &amp; Survivals</h1>
        </div>
        <div class="options">
            <div class="optioncontent">
                <div class="button option button-snd" id="newgame">$MSG(home_opt_newgame)</div>
            </div>
            <div class="optioncontent">
                <div class="button option button-snd" id="continue">$MSG(home_opt_continue)</div>
            </div>
            <div class="optioncontent">
                <div class="button option button-snd" id="options">$MSG(home_opt_options)</div>
            </div>
            <div class="optioncontent">
                <div class="button option button-snd" id="info">$MSG(home_opt_info)</div>
            </div>
            <div class="optioncontent">
                <div class="button option button-snd" id="exit">$MSG(home_opt_exit)</div>
            </div>
        </div>
    </div>
</body>
