html, body, #gd-viewscontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body.gd-body{
    font-family: 'Exo 2', sans-serif ;
    font-weight: 300;
    /*color: #d9d9d9;*/
}

#gd-viewscontainer {
    top:0px;
    left:0px;
    position: absolute;
}
#gd-view{
    top:0px;
    left:0px;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgb(42, 42, 42);*/
    background-color: black;
    z-index:0;
}

body.loading #gd-view
, body.loading #gd-header{
    pointer-events: none;
}

#view-background {
    z-index:0;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    position: absolute;   
    opacity: 0.5;
    background-image: url('media/global_back.png');
    background-size: cover; 
    background-position:50%;
}

#gd-view > #app-view{
    top:0px;
    left:0px;
    position: absolute;
    z-index: 1;
    padding-top:2rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    width: 100%;
    height: 100%;
}

#great-loader {
    position: fixed;
    left:50%;
    top: 30%;
    pointer-events: none;
    z-index: 9999;
}

#great-loader .message {
    position: relative;
    display: inline-block;
    margin-left:-50%;
    margin-top:-50%;
    border: 2px solid #4d7c8d;
    border-bottom-color: #97c2d1;
    background-color: #000000a6;
    padding: 1rem;
}

#gd-header{
    position: absolute;
    z-index: 1;
    font-size: 1.7rem;
    padding-left:0.5rem;
    width: 100%;
}

#gd-header .icon,
.header-inline-icon{
    filter: brightness(0.4);
    cursor: pointer;
    transition: opacity ease-in-out 200ms;  
}

#gd-header .icon:hover,
.header-inline-icon:hover
{
    filter: brightness(1.1) !important;
}


#gd-header #goback{
    /*display: inline-block;*/
    opacity: 0;
    pointer-events: none;
    transform: scaleX(-1);
    float: right;    
}

[data-gd-view="addinfo"] #gd-header #goback{
    opacity: 1;
    pointer-events: all;
}

.icon[data-view="view_list"]
,.icon[data-view="view_grid"]{
    pointer-events: none;
}

[data-gd-view="home"] .icon[data-view="view_list"]
,[data-gd-view="home"] .icon[data-view="view_grid"]{
    pointer-events: all;
}

[data-gamelist-style="block"] #gd-header .icon[data-view="view_grid"]{
    filter: brightness(0.7);
}

[data-gamelist-style="list"] #gd-header .icon[data-view="view_list"]{
    filter: brightness(0.7);
}

[data-gd-view="home"] #gd-header .icon[data-view="home"],
[data-gd-view="add"] #gd-header .icon[data-view="add"],
[data-gd-view="addinfo"] #gd-header .icon[data-view="add"],
[data-gd-view="settings"] #gd-header .icon[data-view="settings"]{
   filter: brightness(1);
}

.template{
    display: none;
}

input:disabled{
    opacity: 0.7;
}

/*a{
    color: #97e2ff;
}
a:hover{
    color: #d9d9d9;
}*/

.nav-tabs .nav-item {
    margin-right: 3px;
}

.tab-content{
    padding-top: 1rem;
}

.tab-pane .form-group.row .col-form-label{
    border: 1px solid #333;
    border-top-left-radius: 1rem;
    
}

@media (min-width: 576px) {
    .tab-pane .form-group.row .col-form-label{
        border-bottom-left-radius: 1rem;
    }
}

.tab-pane .form-group.row .valuecont{
    border: 1px solid #333;
    background-color: #3333335e;
}

.btn_browse{
    position: absolute;
    right: 0.3rem;
    top: 0.1rem;
    font-size: 1.3rem;
    color: #555;
    cursor: pointer;
}

.valuecont.filebrowser{
    padding-right: 2rem;
}

.btn_browse:hover{
    color: #888;
}

select option {
    background-color: #414141 !important;
}

.required{
    color: red;
}

.form-control-plaintext{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

::-webkit-scrollbar {
  width: 5px;    
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f115; 
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: #f1f1f133; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4aa7ff42;
  border-radius: 10px; 
  width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4aa7ffc9; 
}

.message-dialog-icon{
    font-size: 1.7rem;
    vertical-align: bottom;
    line-height: 1;
    margin-right: 6px;
    display: inline-block;
}

.custom-switch,
.custom-switch *{
    cursor: pointer
}

#csscontroller #main_loaded {
    width: 100px;
}
